@tailwind base;
@tailwind components;
@tailwind utilities;


input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.ant-menu-item-selected{
    background-color: rgb(120, 103, 11) !important;
}
.ant-btn-color-primary{
    background-color: rgb(120, 103, 11) !important;

}
.ant-spin-dot-holder{
    color: rgb(120, 103, 11) !important;
}